body{
    margin : 200px;
}
.layout-container{
    background-color : black;
    display : flex;
    flex-direction : column;
    width : 800px;
    height : 600px;
    justify-content: space-evenly;
}
.layout-title{
    display:flex;
    justify-content : center;
    
    flex-basis : 13%;
}
.title{
    background-color : red;
    width : 97%;
    display : flex;
    justify-content:center;
    align-items: center;
}

.layout-current{
    display : flex;
    justify-content: space-evenly;

    flex-basis : 23%;
}
.current{
    display:flex;
    width : 23%;
    background-color : yellow;
    justify-content : center;
    align-items: center;
}

.layout-popular{
    display : flex;
    justify-content : space-evenly;
    flex-basis :52%;
}
.popular{
    display :flex;
    background-color: green;
    justify-content : center;
    align-items: center;
}
.popular1{
    width :72%;
}
.popular2{
    width : 23%;
}
